:root {
  --text-color: #222726;
  --text-color-hover: #1a645b;
  --bg-color: #e6eceb;
  --bg-switch: #e6eceb;
  --switch-color: white;
  --card-color: white;
  --transition-duration: .5s;
  --transition-property: background, color;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.bg, .header {
  min-height: 70px;
  width: 100%;
  background-color: #1a645b;
}

.bg .navbar-custom {
  display: flex;
  font-weight: bold;
  color: white;
}

.navbar .navbar-custom span {
  font-size: 30px;
}

.col-3 a:hover {
  color: var(--text-color-hover);
}

.card-hadith {
  width: 100%;
  min-height: 200px;
  background-color: var(--card-color);
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-hadith i {
  font-size: 40px;
}

.header {
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  padding: 0 20px;
  font-size: 25px;
}

.navigator .btn {
  width: 100%;
  height: 50px;
}

#arabic-hadith {
  color: var(--text-color);
  font: 25px system-ui, -apple-system;
  margin: 0px 0px 16px;
  padding: 30px 0px;
}

#idn-hadith {
  color: var(--text-color);
  font: 16px system-ui, -apple-system;
  margin: 0px 0px 16px;
  padding: 30px opx;
}

.detail-hadith {
  padding: 20px;
}

.border {
  color: var(--text-color);
}

#nama-hadith {
  color: var(--text-color);
  text-decoration: none;
}

.dark-mode-switch:after {
  font-family: 'Material Icons';
  content: '\f185';
  text-align: center;
  position: absolute;
  line-height: 1.8em;
  width: 1.7em;
  height: 1.7em;
  top: 0.3em;
  left: 0.4em;
  background: white;
  border-radius: 50%;
}

.dark-mode-switch:checked {
  background: #272731;
}

.dark-mode-switch:checked:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f186';
  transform: translateX(1.6em);
  box-shadow: -1px 0 5px rgba(black, 0.2);
  background: #1a645b;
  color: white;
}

.dark-mode-switch {
  appearance: none;
  outline: none;
  border: 0;
  border-radius: 2em;
  position: relative;
  width: 4em;
  height: 2.3em;
  overflow: hidden;
  cursor: pointer;
  background: #e6eceb;
}
